{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Login</h1>
        {% if login_error %}
            <div class="alert alert-danger" role="alert">
                {{ login_error }}
            </div>
        {% endif %}

        <form method="POST" action="{% url 'accounts:login_view' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="login_username">Username</label>
                <input name="login_username" type="text" class="form-control" id="login_username" required>
            </div>
            <div class="form-group">
                <label for="login_password">Password</label>
                <input name="login_password" type="password" class="form-control" id="login_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br><p>Don't have an account?</p>
        <a class="btn btn-danger" href="{% url 'accounts:register_view' %}">Register</a>
    </div>
{% endblock %}